* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
.alert-success {
  color: green;
}

.alert-danger {
  color: red;
}

body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}
.register-loc {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.register-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  border: 1px solid #F9B17A;
}
.title{
  text-align: center;
  padding-bottom: 10px;
}
.register-form img {
  width: 150px;
}

.register-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.register-form p {
  color: #888;
  margin-bottom: 10px;
}

.register-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #444;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
.form-control2{
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
.hero-btn {
  width: 100%;
  padding: 10px;
  background-color: #2D3250;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #555;
}

.password-field {
  position: relative;
}

.password-input {
  position: relative;
}

.password-input input {
  width: 100%;
  padding-right: 10px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.eye-icon {
  width: 22px;
  height: 22px;
  color: #666;
}
.toggle-password:hover .eye-icon {
  color: #333;
}
.form-row{
  margin-top: 20px;
}
.login-link {
  margin-top: 15px;
  text-align: center;
}

.login-link p {
  font-size: 14px;
  color: #666;
}

.login-link a {
  color: #F9B17A; /* Albastru pentru link */
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .register-form {
    width: 100%; /* Asigurăm că se ajustează la ecranul mai mic */
  }

  .form-group label {
    font-size: 15px;
  }
}

