/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}
body{
  font-family: 'Lekton', monospace;
  background-color: #FFFFFF !important;


  /*
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(201,226,255,1) 100%);
    */
}
h1, h2, h3 {
  font-family: 'Lekton', monospace;
}
p , button , span,input {
  font-family: 'Lekton', monospace;
}

