<div class="container">
  <div class="elements">
    <div class="adress">
      <h2 class="title">Date de livrare</h2>
      <div class="form-group">
        <h3 class="order_adress">Adresa (Strada,număr)</h3>
        <input type="text" placeholder="Introduceți adresa dvs." required>
      </div>
      <div class="form-group">
        <h3 class="order_adress">Oraș</h3>
        <input type="text" placeholder="Introduceți orașul/localitatea" required>
      </div>
      <div class="form-group">
        <h3 class="order_adress">Cod poștal</h3>
        <input type="text" placeholder="Introduceți codul poștal" required>
      </div>
      <div class="form-group">
        <h3 class="order_adress">Mențiuni</h3>
        <input type="text" placeholder="Orice mențiuni adiționale">
      </div>
    </div>
    <div class="payment">
      <fieldset>
        <legend><h2>Alege metoda de plata:</h2></legend>
        <div class="payment-options">
          <div class="option">
            <label for="numerar">Numerar</label>
            <input type="radio" id="numerar" name="payment-method" value="numerar" checked />
          </div>
          <div class="option">
            <label for="card">Card</label>
            <input type="radio" id="card" name="payment-method" value="card" />
          </div>
        </div>
      </fieldset>
    </div>
    <div class="order-final">
      <button class="order-final2" (click)="createOrder()"><a style="text-decoration: none; color: white;" href="confirm-order"><h2>Trimite comanda</h2></a></button>
    </div>
  </div>
</div>
