<div class="header-container">
  <button class="back-button" (click)="goBack()"><i class="fa-solid fa-arrow-left"></i></button>
</div>

<div class="container" *ngIf="profile">
  <div class="elements">
    <div class="adress">
      <h2 class="title">Date de livrare</h2>
      <div class="form-group">
        <h3 class="order_adress">Adresa (Strada,număr)</h3>
        <input type="text" placeholder="Introduceți adresa dvs." [(ngModel)]="profile.address" required />
      </div>
      <div class="form-group">
        <h3 class="order_adress">Oraș</h3>
        <input type="text" placeholder="Introduceți orașul dvs." [(ngModel)]="profile.city" required />
      </div>
      <div class="form-group">
        <h3 class="order_adress">Cod poștal</h3>
        <input type="text" placeholder="Introduceți codul poștal" [(ngModel)]="profile.postal" required />
      </div>
      <div class="form-group">
        <h3 class="order_adress">Mențiuni</h3>
        <input type="text" placeholder="Orice mențiuni adiționale" />
      </div>
    </div>
    <div class="payment">
      <fieldset>
        <legend><h2>Alege metoda de plata:</h2></legend>
        <div class="payment-options">
          <div class="option">
            <label for="numerar">Numerar</label>
            <input type="radio" id="numerar" name="payment-method" value="numerar" checked />
          </div>
          <div class="option">
            <label for="card">Card</label>
            <input type="radio" id="card" name="payment-method" value="card" />
          </div>
        </div>
      </fieldset>
    </div>
    <div class="order-final">
      <button class="order-final2" (click)="createOrder()">
        <a style="text-decoration: none;" href="confirm-order">
          <h2>Trimite comanda</h2>
        </a>
      </button>
    </div>
  </div>
</div>
