<div class="container" *ngIf="profile">
  <div class="elements">
    <div class="adress">
      <h2 class="title">Shipping Details</h2>
      <div class="form-group">
        <h3 class="order_adress">Address (Street, Number)</h3>
        <input type="text" placeholder="Enter your address" [(ngModel)]="profile.address" required />
      </div>
      <div class="form-group">
        <h3 class="order_adress">City</h3>
        <input type="text" placeholder="Enter your city" [(ngModel)]="profile.city" required />
      </div>
      <div class="form-group">
        <h3 class="order_adress">Postal Code</h3>
        <input type="text" placeholder="Enter postal code" [(ngModel)]="profile.postal" required />
      </div>
      <div class="form-group">
        <h3 class="order_adress">Notes</h3>
        <input type="text" placeholder="Any additional notes" />
      </div>
    </div>
    <div class="payment">
      <fieldset>
        <legend><h2>Choose payment method:</h2></legend>
        <div class="payment-options">
          <div class="option">
            <label for="numerar">Cash</label>
            <input type="radio" id="numerar" name="payment-method" value="numerar" checked />
          </div>
          <div class="option">
            <label for="card">Card</label>
            <input type="radio" id="card" name="payment-method" value="card" />
          </div>
        </div>
      </fieldset>
    </div>
    <div class="order-final">
      <button class="order-final2" (click)="createOrder()">
        <a style="text-decoration: none;" href="confirm-order">
          <h2>Send Order</h2>
        </a>
      </button>
    </div>
  </div>
</div>