<div *ngFor="let item of profilesList" class="auth-form">
    <!--<img src="./assets/images/{{item.imagePath}}" alt="product_image">-->
    <div class="auth-header">
        <ul>
            <li><p>Salut <b>{{item.userName}}</b></p></li>
            <li><p><i>Detaliile contului:</i></p></li>
            <li><p>Nume: {{item.firstName}}</p></li>
            <li><p>Prenume: {{item.lastName}}</p></li>
            <li><p>Adresa: {{item.address}}</p></li>
            <li><p>Email: {{item.email}}</p></li>
            <li><p>Telefon: {{item.phoneNumber}}</p></li>
        </ul>
    </div>
</div>