<form  class="register-form" autocomplete="off">
  <div class="form-group required">
    <label style="margin-top: 5%;">Nume</label>
    <input class="form-control" formControlName="UserName">
  </div>
  <div class="form-group">
    <label>Prenume</label>
    <input class="form-control" formControlName="Email">
  </div>
  <div class="form-group">
    <label>Adresa</label>
    <input class="form-control" formControlName="Email">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" formControlName="Email">
  </div>
  <div class="form-group">
    <label>Numar de telefon</label>
    <input class="form-control" formControlName="Email">
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg hero-btn">Creare profil</button>
    </div>
  </div>
</form>
