<div>
	<nav class="navbar">
	  <div class="nav-links">
		<ul class="logo">
		  <li class="logo"><a href="home"><img src="./assets/images/logo5.png" alt="logo" width="130"></a></li>
		</ul>
  
		<div class="nav-right">
		  <button class="buton" (click)="toggleSidebar()">
			<i class="fa-solid fa-user-astronaut" style="font-size: 30px; color: white;"></i>
		  </button>
		</div>
  
	  </div>
	</nav>
  
	<div class="sidebar" *ngIf="isSidebarOpen">
	  <ul>
		<li *ngIf="!isLog()"><a href="/user/register">Înregistrare</a></li>
		<li *ngIf="!isLog()"><a href="/user/login">Autentificare</a></li>
		<li *ngIf="isLog()"><a href="/user/profile">Profil</a></li>
		<li *ngIf="isLog()"><a (click)="onLogout()">Deconectare</a></li>
	  </ul>
	</div>
  </div>