* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.alert-success {
  color: rgb(0, 47, 255);
}

.alert-danger {
  color: red;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

.login-loc {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.login-form {
  background-color: transparent;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
}
.title{
  text-align: center;
  padding-bottom: 10px;
}
.login-form img {
  width:150px;
}

.login-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.login-form p {
  color: rgb(0,0,0);
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: rgb(0,0,0);
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 14px;
  color: rgb(0,0,0);
  background-color: transparent;
  text-align: center;

}

.forgot-password {
  display: block;
  text-align: right;
  margin-top: 5px;
  font-size: 12px;
  color: rgb(0,0,0);
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.remember-me {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 0;
}

.remember-me input {
  margin-right: 10px;
}

.hero-btn {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: rgb(215,215,215);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
}

.hero-btn:hover {
  background-color: white;
  color: black;
}
.register-link {
  margin-top: 15px;
  text-align: center;
}

.register-link p {
  font-size: 14px;
  color: rgb(0,0,0);
}

.register-link a {
  color: rgb(0, 47, 255); /* Albastru pentru link */
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}
.password-field {
  position: relative;
}

.password-input {
  position: relative;
}

.password-input input {
  width: 100%;
  padding-right: 10px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.eye-icon {
  width: 22px;
  height: 22px;
  color: rgb(44,194,149);;
}

.toggle-password:hover .eye-icon {
  color: rgb(44,194,149);;
}

@media (max-width: 700px) {
  .login-form {
    width: 100%; /* Asigurăm că se ajustează la ecranul mai mic */
  }

  .form-group label {
    font-size: 15px;
  }
}
