.confirm-order-box {
    width: 70%;
    margin: 50px auto;
    border-radius: 5px;
    margin-top:100px;
    margin-bottom: 300px;
    padding: 20px;
}

h1 {
    padding: 10px;
    text-align: center;
    font-size: 36px;
    color:rgb(241,247,246);
}

h3 {
    padding: 20px;
    text-align: center;
    color: rgb(241,247,246);
}
