<div class="orders-container">
  <div class="header">
    <h1>Orders</h1>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Order #</th>
          <th>Customer</th>
          <th>Phone</th>
          <th>Address</th>
          <th>City</th>
          <th>Zip Code</th>
          <th>Total</th>
          <th>Date</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>#{{ order.id }}</td>
          <td>{{ order.email || '-' }}</td>
          <td> {{ order.phone_number || '-' }} </td>
          <td>{{ order.adress || '-' }}</td>
          <td>{{ order.city || '-' }}</td>
          <td>{{ order.zip_code || '-' }}</td>
          <td>{{ order.totalamount ? (order.totalamount | currency:'RON ') : '-' }}</td>
          <td>{{ order.orderDate ? (order.orderDate | date:'yyyy-MM-dd') : '-' }}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>