<div class="product">
  <button id="toggleFiltersBtn" class="buton_filter" (click)="toggleFilters()">
    <b>Filtrează</b>
    <i class="fa fa-filter" aria-hidden="true"></i>
  </button>

  <div class="filter" [ngClass]="{ 'show': areFiltersVisible }">
    <button class="buton_filter" (click)="getProductsList()"><b>Toate</b></button>
    <button class="buton_filter" (click)="getProductsListByCategoryId(null)"><b>Baie <i class="fa-solid fa-bath"></i></b></button>
    <button class="buton_filter" (click)="getProductsListByCategoryId(null)"><b>Joc de cărți <i class="fa-solid fa-gamepad"></i></b></button>
    <button class="buton_filter" (click)="getProductsListByCategoryId(null)"><b>Curățenie <i class="fa-solid fa-spray-can-sparkles"></i></b></button>
    <button class="buton_filter" (click)="getProductsListByCategoryId(null)"><b>Haine <i class="fa-solid fa-shirt"></i></b></button>
    <button class="buton_filter" (click)="getProductsListByCategoryId(null)"><b>Figurine <i class="fa-solid fa-person-skating"></i></b></button>
    <button class="buton_filter" (click)="getProductsListByCategoryId(null)"><b>Ochelari <i class="fa-solid fa-glasses"></i></b></button>
    <button class="buton_filter" (click)="getProductsListByCategoryId(null)"><b>Casă <i class="fa-solid fa-house"></i></b></button>
    <button class="buton_filter" (click)="getProductsListByCategoryId(null)"><b>Bucătărie <i class="fa-solid fa-burger"></i></b></button>
    <button class="buton_filter" (click)="getProductsListByCategoryId(null)"><b>Pușculiță <i class="fa-solid fa-money-check-dollar"></i></b></button>
    <button class="buton_filter" (click)="getProductsListByCategoryId(1)"><b>Birou <i class="fa-solid fa-briefcase"></i></b></button>
    <button class="buton_filter" (click)="getProductsListByCategoryId(null)"><b>Unelte <i class="fa-solid fa-toolbox"></i></b></button>
    <button class="buton_filter" (click)="getProductsListByCategoryId(null)"><b>Vicii <i class="fa-solid fa-smoking"></i></b></button>
  </div>
</div>



<ul *ngFor="let item of productsList">
    <li class="product-item">
    <div class="product-item">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                  <a [routerLink]="['/product-page', item.id]">
                    <img src="./assets/images/{{item.imagePath1}}" alt="product_image" height="400" width="200">
                  </a>
                </div>
            </div>
        </div>
    </div>
        <div class="details">
            <h3 class="pret_produs"><b>Preț:</b> {{item.price}} lei</h3>
          <div class="quantity-wrapper">
            <div class="minus" (click)="decreaseQuantity(selectedQuantity)">
              <i class="fas fa-minus"></i>
            </div>
            <div class="quantity-container">
              <input #selectedQuantity type="number" class="quantity-input" [value]="1" min="1">
            </div>
            <div class="plus" (click)="increaseQuantity(selectedQuantity)">
              <i class="fas fa-plus"></i>
            </div>
          </div>

        </div>
        <button class="button_product" (click)="addProductInShoppingCart(shoppingCartId, item.id, selectedQuantity.valueAsNumber)">Adaugă în coș</button>
    </li>

    <div class="cart-button" id="cartButton">
        <a href="cos-cumparaturi">
            <fa-icon [icon]="faCartShopping"></fa-icon>Coș</a>
        <span id="cartItemCount">{{ cartCounter }}</span>
    </div>
</ul>
