.main-layout {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.filters {
  padding: 20px;
  background-color: #f4f3f3;
  border-radius: 12px;
  width: 250px;
}
.filters h3{
  text-align: center;
  margin-bottom: 20px;
}
.filter-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.price-input {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 2px;
}

.reset-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.reset-button:hover {
  background-color: #c9302c;
}
.product{
  padding: 20px;
  margin:20px;
}
.product ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Produse flexibile în funcție de dimensiunea ecranului */
    gap: 30px; /* Spațiere între produse */
    list-style: none; /* Elimină bullet points */
    padding: 20px; /* Spațiu interior */
    margin: 0 auto; /* Centrează conținutul */
    max-width: 1100px; /* Lățimea maximă a grilei */
}

/* Fiecare produs individual */
.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248 ,249 ,253);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Efect de umbră */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px; /* Spațiere în interiorul cardului */
}

.product-item:hover {
    transform: scale(1.05);
}

/* Imaginea produsului */
.product-item img {
    width: 250px;
    height: 250px;
    object-fit: cover; /* Asigură că imaginea acoperă containerul */
    border-radius: 10px; /* Colțuri rotunjite */
    margin-bottom: 10px; /* Spațiere sub imagine */
}
.quantity-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.minus, .plus {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px; /* ajustați pentru a obține spațierea dorită */
  color: rgb(0,0,0); /* culoarea butoanelor */
}

.quantity-container {
  background: rgb(98,98,98);
  border: 0.5px solid rgb(0,0,0);
  width: 40px;
  text-align: center;
}

.quantity-input {
  color: rgb(256,256,256);
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
}

/* Ascunde săgețile pentru Webkit (Chrome, Safari, Opera) */
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Prețul produsului */
.pret_produs {
    display: block;
    color: rgb(0,0,0);
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Butonul produsului */
.button_product {
    background-color: rgb(215,215,215);
    color: rgb(0,0,0);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button_product:hover {
    background-color: rgb(0,0,0);
    color: rgb(256,256,256);
    transform: scale(1.1);
}

#cartButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(215,215,215);
    border: 1px solid rgb(99,98,98);
    color: rgb(0,0,0);
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

#cartButton a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0,0,0);
  text-decoration: none;
}

#cartItemCount {
  position: absolute;
  top: -4px;
  right: -4.5px;
  background-color: rgb(256,256,256);
  border:1px solid rgb(98,98,98);
  color: rgb(0,0,0);
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
  font-family: 'Nunito', sans-serif;
}

#cartButton:hover {
  background-color: rgb(256,256,256);;
  
}


/* Responsive Design */
@media only screen and (max-width: 768px) {
  .main-layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }
  .product{
    margin:20px;
    padding: 20px;
  }
    .product ul {
        grid-template-columns: repeat(2, 1fr); /* Afișează 2 produse pe rând */
        padding: 10px; /* Micșorează paddingul */
    }

    .product-item {
        padding: 10px; /* Reduce spațierea cardurilor */
    }
    .product-item img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 10px; /* Colțuri rotunjite */
      margin-bottom: 10px; /* Spațiere sub imagine */
  }
  .filter{
    margin-top: 10px;
  }
  #cartButton{
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 480px) {
    .product ul {
        grid-template-columns: 1fr; /* Afișează un produs pe rând */
    }
}
