<div class="product-page">

  <div class="product-container" *ngIf="product">
    <!-- Partea stângă: Imagini produs -->
    <div class="product-images">

      <!-- Imaginea principală -->
      <img [src]="'./assets/images/products/' + mainImage" alt="product_image" class="main-product-image">

      <!-- Galeria de imagini secundare -->
      <div class="image-gallery">
        <img [src]="'./assets/images/products/' + product.imagePath1" alt="product_image_small" (click)="changeMainImage(product.imagePath1)">
        <img [src]="'./assets/images/products/' + product.imagePath2" alt="product_image_small" (click)="changeMainImage(product.imagePath2)">
        <img [src]="'./assets/images/products/' + product.imagePath3" alt="product_image_small" (click)="changeMainImage(product.imagePath3)">
      </div>
    </div>

    <!-- Partea dreaptă: Detalii produs -->
    <div class="details-product">
      <h2 class="titlu-produs">{{product.name}}</h2>

      <h3 class="pret_produs"><b>Price:</b> {{product.price}} RON</h3>

      <!-- Container pentru input de cantitate și butoanele minus și plus -->
      <div class="quantity-wrapper">
        <div class="minus" (click)="decreaseQuantity(selectedQuantity)">
          <i class="fas fa-minus"></i>
        </div>
        <div class="quantity-container">
          <input #selectedQuantity type="number" class="quantity-input" [value]="1" min="1">
        </div>
        <div class="plus" (click)="increaseQuantity(selectedQuantity)">
          <i class="fas fa-plus"></i>
        </div>
      </div>

      <h2>size</h2>
      <div class="color-wrapper">
        <div class="color-title">
          <button>S</button>
          <button>M</button>
          <button>L</button>
          <button>XL</button>
          <button>XXL</button>
        </div>
      </div>

      <p class="description-product">{{product.shortDescription}}</p>

      <h2>Details</h2>
      <div class="details-wrapper">
        <ul>
          <li><b>Season </b>: {{product.season}}</li>
          <li><b>Color </b>: {{product.color}}</li>
          <li><b>Material </b>: {{product.material}}</li>
          <li><b>Care Instructions </b>: <img src="assets/images/symbol.png" alt="Care Symbols" class="care-symbols"></li>
          <li><b>Product Code </b>: {{product.id}}</li>
        </ul>
      </div>


      <button class="button_product" (click)="addProductInShoppingCart(shoppingCartId, product.id, selectedQuantity.valueAsNumber)">
        ADD TO CART
      </button>
    </div>

  </div>

  <!-- Buton Coș -->
  <div class="cart-button" id="cartButton">
    <a href="shopping-cart">
      <fa-icon [icon]="faCartShopping"></fa-icon>Cart</a>
    <span id="cartItemCount">{{ cartCounter }}</span>
  </div>

</div>