.footer, .footer * {
  font-family: 'Montserrat', 'Manrope', 'Segoe UI', Arial, sans-serif !important;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.footer {
    background-color: rgb(56,72,92);;
    color: white;
    padding: 10px; 
    border-top: 0.5px solid rgb(88,185,157);
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.7;
}

.footer-content {
    display: flex; 
    justify-content: space-between; 
}

.footer-section {
    width: 50%; 
}

.footer-links, .footer-info {
    list-style: none; 
    padding: 0; 
}

.footer-links img {
    margin-right: 10px; 
    display: block; 
    margin: 0 auto; 
    padding: 7px;
}

.footer-info li {
    margin-bottom: 10px; 
    font-size: 15px; 
    margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; 
}

.footer-right span {
  margin-right: 3px;
  font-size: 10px;
  color: white;
  font-family: 'Montserrat', 'Manrope', 'Segoe UI', Arial, sans-serif !important;
}

.flag {
  display: flex;
  width: 20px;
  height: 15px;
  border: 1px solid rgb(0,0,0); 
}

.stripe {
  width: 8px; 
  height: 100%;
}

.stripe1 {
  background-color: #002B7F; 
}

.stripe2 {
  background-color: #FCD116; 
}

.stripe3 {
  background-color: #CE1126; 
}


@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column; 
    align-items: center;
  }

  .footer-section {
    width: 100%; 
    margin-bottom: 10px; 
    text-align: center;
  }

  .footer-right {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin-top: 10px; 
  }
}

