@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

.footer {
    background-color: rgb(215,215,215);
    color: rgb(0,0,0);
    padding: 10px; /* spatierea interioara a footer-ului */
    border-top: 0.5px solid rgb(0,0,0);
}

.footer-content {
    display: flex; /* flexbox pentru a alinia orizontal sectiunile din footer */
    justify-content: space-between; /* spatiere egala intre sectiunile din footer */
}

.footer-section {
    width: 50%; /* fiecare sectiune de footer ocupa jumatate din latimea containerului footer */
}

.footer-links, .footer-info {
    list-style: none; /* eliminare stilizare default pentru listele din footer */
    padding: 0; /* eliminare spatiere interioara a listelor */
}

.footer-links img {
    margin-right: 10px; /* spatiere intre imaginile din lista de link-uri */
    display: block; /* asigură alinierea corectă a imaginilor */
    margin: 0 auto; /* centrează imaginile */
    padding: 7px;
}

.footer-info li {
    margin-bottom: 10px; /* spatiere intre elementele din lista de informatii */
    font-size: 15px; /* dimensiunea textului mai mic */
    margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; /* aliniază la dreapta */
}

.footer-right span {
  margin-right: 3px;
  font-size: 10px;
  color: rgb(0,0,0);
  font-family: 'Nunito', sans-serif;
}

.flag {
  display: flex;
  width: 20px;
  height: 15px;
  border: 1px solid rgb(0,0,0); /* bordură pentru drapel */
}

.stripe {
  width: 8px; /* lățimea fiecărei dungi este o treime din total */
  height: 100%;
}

.stripe1 {
  background-color: #002B7F; /* albastru */
}

.stripe2 {
  background-color: #FCD116; /* galben */
}

.stripe3 {
  background-color: #CE1126; /* roșu */
}
/* Stilizare pentru modul mobil */
/* Stilizare pentru modul mobil */
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Așezare verticală în modul mobil */
    align-items: center;
  }

  .footer-section {
    width: 100%; /* Lățimea maximă în modul mobil */
    margin-bottom: 10px; /* Spațiere între secțiuni în modul mobil */
    text-align: center;
  }

  .footer-right {
    width: 100%; /* Asigură-te că ocupă întreaga lățime */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centrează textul și conținutul */
    margin-top: 10px; /* Spațiu suplimentar între secțiuni */
  }
}

