<li class="image">
    <img src="./assets/images/auth.png" alt="product_image" width="35" height="35">
</li>
<div *ngFor="let item of profilesList" class="auth-form">
    <div class="auth-header">
        <ul>
            
            <li>
                <div class="username-header">
                    <p><b>{{item.userName}}</b></p>
                </div>
            </li>
            <li class="details-header">
                <p class="details"><i>Detaliile contului:</i></p>
            </li>
            <li><p>Nume: {{item.firstName}}</p></li>
            <li><p>Prenume: {{item.lastName}}</p></li>
            <li>
                <p>Adresă: 
                    <ng-container *ngIf="!item.editing">
                        {{item.address}}
                    </ng-container>
                    <ng-container *ngIf="item.editing">
                        <input [(ngModel)]="item.address" />
                    </ng-container>
                </p>
            </li>
            <li>
                <p>Email: 
                    <ng-container *ngIf="!item.editing">
                        {{item.email}}
                    </ng-container>
                    <ng-container *ngIf="item.editing">
                        <input [(ngModel)]="item.email" />
                    </ng-container>
                </p>
            </li>
            <li>
                <p>Telefon: 
                    <ng-container *ngIf="!item.editing">
                        {{item.phoneNumber}}
                    </ng-container>
                    <ng-container *ngIf="item.editing">
                        <input [(ngModel)]="item.phoneNumber" />
                    </ng-container>
                </p>
            </li>
        </ul>
        <div *ngIf="!item.editing">
            <button (click)="editItem(item)" class="buton-profile">Editează</button>
        </div>
        <div *ngIf="item.editing">
            <button (click)="saveProfile(item)" class="buton-profile">Salvează</button>
            <button (click)="cancelEdit(item)" class="buton-profile">Anulează</button>
        </div>
    </div>
</div>
