<div class="center-align" *ngIf="profile">
  <div class="auth-form">

    <div class="auth-header">
      <ul>
        <li class="details-account-title">
          <span><b>Account Details:</b></span>
        </li>
        <li>
          <p>User <i class="fa-solid fa-user"></i></p>
          <span>{{profile.userName}}</span>
        </li>
        <li>
          <p>First Name |</p>
          <ng-container *ngIf="!profile.editing">
            <span>{{profile.firstName}}</span>
          </ng-container>
          <ng-container *ngIf="profile.editing">
            <input [(ngModel)]="profile.firstName" />
          </ng-container>
        </li>
        <li>
          <p>Last Name |</p>
          <ng-container *ngIf="!profile.editing">
            <span>{{profile.lastName}}</span>
          </ng-container>
          <ng-container *ngIf="profile.editing">
            <input [(ngModel)]="profile.lastName" />
          </ng-container>
        </li>
        <li>
          <p>Address <i class="fa-solid fa-location-dot"></i></p>
          <ng-container *ngIf="!profile.editing">
            <span>{{profile.address}}</span>
          </ng-container>
          <ng-container *ngIf="profile.editing">
            <input [(ngModel)]="profile.address" />
          </ng-container>
        </li>
        <li>
          <p>City <i class="fa-solid fa-city"></i></p>
          <ng-container *ngIf="!profile.editing">
            <span>{{profile.city}}</span>
          </ng-container>
          <ng-container *ngIf="profile.editing">
            <input [(ngModel)]="profile.city" />
          </ng-container>
        </li>
        <li>
          <p>Postal Code <i class="fa-solid fa-map-pin"></i></p>
          <ng-container *ngIf="!profile.editing">
            <span>{{profile.postal}}</span>
          </ng-container>
          <ng-container *ngIf="profile.editing">
            <input [(ngModel)]="profile.postal" />
          </ng-container>
        </li>
        <li>
          <p>Email <i class="fa-regular fa-envelope"></i></p>
          <span>{{profile.email}}</span>
        </li>
        <li class="last-details">
          <p>Phone <i class="fa-duotone fa-solid fa-phone"></i></p>
          <ng-container *ngIf="!profile.editing">
            <span>{{profile.phoneNumber}}</span>
          </ng-container>
          <ng-container *ngIf="profile.editing">
            <div class="phone-input-group">
              <select [(ngModel)]="profile.phoneCountry">
                <option value="ro">🇷🇴</option>
                <option value="us">🇺🇸</option>
                <option value="gb">🇬🇧</option>
                <option value="fr">🇫🇷</option>
                <option value="de">🇩🇪</option>
                <!-- Adaugă alte țări după nevoie -->
              </select>
              <input type="tel" [(ngModel)]="profile.phoneNumber" pattern="[0-9\-\+\s]*" inputmode="tel" placeholder="Număr de telefon" />
            </div>
          </ng-container>
        </li>
        <div *ngIf="!profile.editing" class="button-align">
          <button (click)="editItem(profile)" class="buton-profile">Edit <i class="fa-solid fa-pen"></i></button>
        </div>
        <div *ngIf="profile.editing" class="button-align">
          <button (click)="saveItem(profile)" class="buton-profile">Save <i class="fa-solid fa-check"></i></button>
          <button (click)="cancelEdit(profile)" class="buton-profile">Cancel <i class="fa-solid fa-x"></i></button>
        </div>
      </ul>
    </div>
  </div>
</div>