<div class="inventory-container">
  <div class="header">
    <h1>Inventory</h1>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>
            <img [src]="'./assets/images/products/' + product.imagePath1" alt="product_image" style="width:80px;height:80px;object-fit:cover;border-radius:8px;margin-right:18px;vertical-align:middle;" onerror="this.src='./assets/images/no-image.png'">
            <span style="vertical-align:middle;">{{ product.name }}</span>
          </td>
          <td>{{ product.totalQuantity }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>