/*introduction*/
.introduction {
  text-align: center;
  padding: 50px;
  color: rgb(241,247,246);
}
.introduction-content{
  padding: 6px;
}

.introduction h2 {
  font-size: 24px;
}

.introduction h3 {
  font-size: 20px;

}
h1{
  color: rgb(241,247,246);
}
.buton {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Distanța dintre elemente */
}

.buton .buton1 {
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid rgb(9, 85, 68);
  color: rgb(44, 194, 149);
  padding: 15px 32px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.buton a:hover {
  background-color: black;
  color: rgb(241, 247, 246);
}

.show {
  opacity: 1 !important;
}

/*accordion*/

.accordion {
  max-width: 530px;
  width: 100%;
  background: transparent;
  margin: 0 auto; /* pentru a centra pe orizontală */
  padding: 15px;
  border-radius: 8px;
  display: flex; /* pentru a centra pe verticală */
  align-items: center; /* pentru a centra pe verticală */
  flex-direction: column; /* aliniere verticală a elementelor */
}
.title{
  color: rgb(241,247,246);
  font-size: 30px;

}
.accordion-item {
  width: 100%;
  border-bottom: 4px solid rgb(9,85,68);
  border-top: 4px solid rgb(9,85,68);
  margin-bottom: 10px;
}
.accordion-header {
  cursor: pointer;
  display: flex;
  align-items: center; /* Aliniere pe verticală */
  padding: 10px;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  text-align: center; /* pentru a centra pe orizontală */
  margin: 0; /* eliminăm marginile */
  justify-content: space-between; /* Așezarea elementelor la distanță maximă între ele */
}

.accordion-header .title {
  flex: 1; /* Titlul va ocupa spațiul disponibil */
  text-align: center; /* Aliniere centrată a textului */
}

.accordion-header i {
  color: rgb(241,247,246); /* Schimbă culoarea plusului și minusului */
  margin-left: 10px; /* Adăugăm un spațiu între simbol și text */
}
.description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  width: 100%;
  font-size: 17px;
  text-align: center; /* pentru a centra pe orizontală */
  margin: 0; /* eliminăm marginile */
  color: rgb(241,247,246);
  background-color: rgb(9,85,68);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.description p {
  margin-top: 15px;
  padding-top: 10px;
  margin: 10px 0; /* Adaugă spațiu între paragrafe */
}
.description a{
  color: rgb(44,194,149);
}

.buton-container {
  --uib-size: 80px;
  --uib-color: #2CC295FF;
  --uib-speed: 2.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
}

.slice {
  position: relative;
  height: calc(var(--uib-size) / 6);
  width: 100%;
}

.slice::before,
.slice::after {
  --uib-a: calc(var(--uib-speed) / -2);
  --uib-b: calc(var(--uib-speed) / -6);
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - var(--uib-size) / 12);
  height: 100%;
  width: calc(100% / 6);
  border-radius: 50%;
  background-color: var(--uib-color);
  flex-shrink: 0;
  animation: orbit var(--uib-speed) linear infinite;
  transition: background-color 0.3s ease;
}

.slice:nth-child(1)::after {
  animation-delay: var(--uib-a);
}

.slice:nth-child(2)::before {
  animation-delay: var(--uib-b);
}

.slice:nth-child(2)::after {
  animation-delay: calc(var(--uib-a) + var(--uib-b));
}

.slice:nth-child(3)::before {
  animation-delay: calc(var(--uib-b) * 2);
}
.slice:nth-child(3)::after {
  animation-delay: calc(var(--uib-a) + var(--uib-b) * 2);
}

.slice:nth-child(4)::before {
  animation-delay: calc(var(--uib-b) * 3);
}
.slice:nth-child(4)::after {
  animation-delay: calc(var(--uib-a) + var(--uib-b) * 3);
}

.slice:nth-child(5)::before {
  animation-delay: calc(var(--uib-b) * 4);
}
.slice:nth-child(5)::after {
  animation-delay: calc(var(--uib-a) + var(--uib-b) * 4);
}

.slice:nth-child(6)::before {
  animation-delay: calc(var(--uib-b) * 5);
}
.slice:nth-child(6)::after {
  animation-delay: calc(var(--uib-a) + var(--uib-b) * 5);
}

@keyframes orbit {
  0% {
    transform: translateX(calc(var(--uib-size) * 0.25)) scale(0.73684);
    opacity: 0.65;
  }
  5% {
    transform: translateX(calc(var(--uib-size) * 0.235)) scale(0.684208);
    opacity: 0.58;
  }
  10% {
    transform: translateX(calc(var(--uib-size) * 0.182)) scale(0.631576);
    opacity: 0.51;
  }
  15% {
    transform: translateX(calc(var(--uib-size) * 0.129)) scale(0.578944);
    opacity: 0.44;
  }
  20% {
    transform: translateX(calc(var(--uib-size) * 0.076)) scale(0.526312);
    opacity: 0.37;
  }
  25% {
    transform: translateX(0%) scale(0.47368);
    opacity: 0.3;
  }
  30% {
    transform: translateX(calc(var(--uib-size) * -0.076)) scale(0.526312);
    opacity: 0.37;
  }
  35% {
    transform: translateX(calc(var(--uib-size) * -0.129)) scale(0.578944);
    opacity: 0.44;
  }
  40% {
    transform: translateX(calc(var(--uib-size) * -0.182)) scale(0.631576);
    opacity: 0.51;
  }
  45% {
    transform: translateX(calc(var(--uib-size) * -0.235)) scale(0.684208);
    opacity: 0.58;
  }
  50% {
    transform: translateX(calc(var(--uib-size) * -0.25)) scale(0.73684);
    opacity: 0.65;
  }
  55% {
    transform: translateX(calc(var(--uib-size) * -0.235)) scale(0.789472);
    opacity: 0.72;
  }
  60% {
    transform: translateX(calc(var(--uib-size) * -0.182)) scale(0.842104);
    opacity: 0.79;
  }
  65% {
    transform: translateX(calc(var(--uib-size) * -0.129)) scale(0.894736);
    opacity: 0.86;
  }
  70% {
    transform: translateX(calc(var(--uib-size) * -0.076)) scale(0.947368);
    opacity: 0.93;
  }
  75% {
    transform: translateX(0%) scale(1);
    opacity: 1;
  }
  80% {
    transform: translateX(calc(var(--uib-size) * 0.076)) scale(0.947368);
    opacity: 0.93;
  }
  85% {
    transform: translateX(calc(var(--uib-size) * 0.129)) scale(0.894736);
    opacity: 0.86;
  }
  90% {
    transform: translateX(calc(var(--uib-size) * 0.182)) scale(0.842104);
    opacity: 0.79;
  }
  95% {
    transform: translateX(calc(var(--uib-size) * 0.235)) scale(0.789472);
    opacity: 0.72;
  }
  100% {
    transform: translateX(calc(var(--uib-size) * 0.25)) scale(0.73684);
    opacity: 0.65;
  }
}

@media screen and (max-width: 768px) {
  .introduction h1,.introduction h2, .introduction h3{
    text-align: center;
    font-size: 20px;
  }
  .buton {
    text-align: center; /* Alinează butoanele pe centrul ecranului */
    padding: 0; /* Elimină spațiul de la marginea exterioară a butoanelor */
  }

  .buton .buton1 {
    width: 80%; /* Lățimea butoanelor în modul mobil */
    display: inline-block; /* Facem butoanele să ocupe spațiu doar cât este necesar */
    margin: 10px auto; /* Margin pe stânga și dreapta sunt setate automat, iar margin-top și margin-bottom sunt de 10px */
  }

  .accordion {
    max-width: 90%;
    margin: 0 auto;
  }
  .title{
    font-size: 22px;
  }
  .accordion-header {
    justify-content: center;
  }
  .description {
    text-align: center;
  }
  .description a {
    font-size: 17px; /* Redu dimensiunea fontului pentru adresa de e-mail */
  }
  .description p {
    margin: 5px 0; /* Redu spațiul între paragrafe */
    font-size: 17px;
  }
  .paragraf_desc p{
    border-bottom: 1px solid #ccc;
  }

}
